.hero-section {
    position: relative;
    /* width: 100%;
    height: 100%; */
    width: 1728px;
    height: 810px;
    gap: 0px;
    opacity: 0px;

  
    background-size: cover;
  }
  
  .hero-section::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 47%;
    height: 100%;
    background-color: #00274D96;
    z-index: 1;
  }
  .bulb-icon{
    height: 28px;
   
  }

  .banner-button{
    background-color: #FF6600;
    width: 300px;
    height: 64px;
    padding: 16px 0 0 0;
    gap: 10px;
    border-radius: 24px 24px 24px 24px;
    color: white;
    font-size: 16px;

   
    display: inline-block;
    line-height: 32px;
  }
  
  .change-bg{
    background-color: black;
  }

  .color-1024{
    background-color: #00274D;
  }